body {
    display:flex;
    flex-direction:column;
}

/*#header {
    position:sticky;
    top:0;
}*/

.primary-header {
    background-color:#333333;
}

.primary-header-container {
    padding:0 30px;
    display:flex;
}

.primary-header-right-col {
    margin-left:auto;
}

.primary-header .logo {
    color:#ffffff;
    line-height:1;
    font-size:28px;
    font-weight:800;
    display:inline-block;
    padding:10px 10px 9px 10px;
    text-decoration:none;
    text-transform:uppercase;
}

.primary-header-menu {
    list-style:none;
    display:flex;
    margin-bottom:0;
    padding-left:20px;
    height:100%;
}
.primary-header-menu a {
    height:100%;
    color:#ffffff;
    font-size:16px;
    font-weight:500;
    padding-left:10px;
    align-items:center;
    padding-right:10px;
    display:inline-flex;
    text-decoration:none;
    font-family:"Roboto", sans-serif;
}

.primary-header-menu a.sub-menu-btn::after {
    content:"";
    width:10px;
    height:10px;
    margin-left:8px;
    display:inline-block;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url("../img/icon/arrow-drop-down.png");
}

.primary-header .notification-btn {
    height:100%;
    border:0;
    position:relative;
    align-items:center;
    display:inline-flex;
    justify-content:center;
    background:transparent;
}


.primary-header .notification-btn::after {
    content:"";
    top:15px;
    width:5px;
    right:10px;
    height:5px;
    position:absolute;
    border-radius:9px;
    display:inline-block;
    background-color:#FF4C00;
}


.secondary-header {
    display:flex;
    position:relative;
    justify-content:space-between;
    border-bottom: 1px solid rgba(26,81,202,1);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

.secondary-header a {
    font-size:14px;
    font-weight:500;
    padding:9px 25px 9px 25px;
    align-items:center;
    display:inline-flex;
    text-decoration:none;
    justify-content:center;
    color:rgba(0,0,0,0.75);
}

.secondary-header a:hover,
.secondary-header a.active {
    background-color:rgba(222,233,255,1);
}
.secondary-header a.active {
    font-weight:700;
    color:rgba(0,0,0,1);
}

.secondary-header .secondary-header-main-btn {
    gap:4px;
    font-size:16px;
    font-weight:600;
    padding-right:24px;
    color:rgba(0,0,0,1);
}



#main {
    display:flex;
    height:100%;
}

.sidebar {
    flex:none;
    width:228px;
    display:flex;
    position:relative;
    flex-direction:column;
    min-height:calc(100vh - 90px);
    background:rgba(250,251,252,1);
}
.sidebar-content {
    overflow-y:auto;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:100%;
    width:100%;
}

.scenario-btn {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
    display:block;
    font-size:14px;
    font-weight:400;
    color:#000000;
    padding:8px;
    margin-top:4px;
    margin-bottom:4px;
    text-decoration:none;
}

.scenario-btn .scenario-hover-btn {
    display:none;
}

.scenario-btn:hover .scenario-hover-btn {
    display: block;
    position:fixed;
    padding:8px;
    left:0;
    background-color: rgba(192,213,255,1);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.scenario-btn span,
.scenario-hover-btn span {
    pointer-events:none;
}
.scenario-btn.active {
    background:rgba(222,233,255,1);
}
.scenario-btn:hover,
.scenario-hover-btn {
    background:rgba(192,213,255,1);
    border-radius:4px;
}

.scenario-btn .scenario-icon,
.scenario-hover-btn .scenario-icon {
    padding:2px;
    line-height:1;
    min-width:20px;
    font-size:14px;
    font-weight:400;
    border-radius:5px;
    display:inline-block;
    color:rgba(26,81,202,1);
    background:rgba(203,222,251,1);
    border: 1px solid rgba(26,81,202,1);
    font-family:'JetBrains Mono', monospace;
}

.scenario-btn .scenario-icon span,
.scenario-hover-btn .scenario-icon span {
    font-size:8px;
}

.scenario-btn.active .scenario-icon,
.scenario-btn:hover .scenario-icon {
    color:#ffffff;
    background:rgba(26,81,202,1);
}

.theory-box {
    border-radius:5px;
    padding:8px;
    font-size:15px;
    color:rgba(39,56,87,1);
    background-color:rgba(222,233,255,1);
}

.theory-read-more-btn {
    line-height:1;
    color:#ffffff;
    padding:10px 14px;
    border-radius:8px;
    background-color:rgba(26,81,202,1);
}

.read-more-state {
    display:none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 200ms ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity:1;
    font-size:inherit;
    max-height: 999rem;
}

.read-more-btn {
    cursor:pointer;
}

.read-more-state ~ .read-more-wrap .read-more-btn:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-wrap .read-more-btn:before {
  content: 'Show less';
}




#footer {
    background-color:#000000;
    height:400px;
}
